* {
	background-color: rgb(141, 102, 102);
	color: azure;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 500;
}

.container {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.backgroundImageInvisible {
	opacity: 0%;
}

.playerInvisible {
	opacity: 0%;
}

.ballInvisible {
	opacity: 0%;
}

.computerInvisible {
	opacity: 0%;
}

.scoreInvisible {
	opacity: 0%;
}

.backgroundImage {
	height: 480px;
	width: 800px;
	background-image: url(./assets/images/Milan\ Stadium.png);
	background-size: 330%;
	background-position: center;
	background-position-y: -140px;
}

.backgroundImageLevel2 {
	height: 480px;
	width: 800px;
	background-image: url(./assets/images/Tokyo\ Stadium.png);
	background-size: 330%;
	background-position: center;
	background-position-y: -140px;
}

.backgroundImageLevel3 {
	height: 480px;
	width: 800px;
	background-image: url(./assets/images/Snowman\ Stadium.png);
	background-size: 330%;
	background-position: center;
	background-position-y: -140px;
}

.backgroundImageLevel4 {
	height: 480px;
	width: 800px;
	background-image: url(./assets/images/Rainbow\ Stadium.png);
	background-size: 330%;
	background-position: center;
	background-position-y: -140px;
}

.gameGrid {
	position: relative;
	top: -210px;
	margin-right: 244px;
	margin-left: 244px;
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 70px 70px;
	column-gap: 6px;
	row-gap: 6px;
	background-color: white;
	opacity: 30%;
}

div:hover.grid1 {
	background-color: red;
}

.grid1 {
	text-align: center;
	background-color: white;
}

.ball {
	width: 30px;
	height: 30px;
	background-color: fuchsia;
	position: relative;
	top: 200px;
	left: 390px;
}

.playerRound1 {
	width: 45px;
	height: 100px;
	background-color: red;
	position: relative;
	top: 340px;
	left: 330px;
}

.playerRound2 {
	width: 45px;
	height: 100px;
	background-color: mediumblue;
	position: relative;
	top: 340px;
	left: 330px;
}

.computerRound1 {
	width: 45px;
	height: 100px;
	background-color: mediumblue;
	position: relative;
	top: 2px;
	left: 380px;
	font-size: small;
}

.computerRound2 {
	width: 45px;
	height: 100px;
	background-color: red;
	position: relative;
	top: 2px;
	left: 380px;
	font-size: small;
}

.message {
	position: relative;
	top: 155px;
	left: 20px;
	background: none;
}

.score {
	position: relative;
	top: 160px;
	left: 20px;
	background: none;
}
