* {
	background-color: rgb(141, 102, 102);
	color: azure;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 500;
}

.container {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.backgroundImageInvisible {
	opacity: 0%;
}

.invisible {
	opacity: 0%;
}

.backgroundImage {
	height: 480px;
	width: 800px;
	background-image: url(./assets/images/Milan\ Stadium.png);
	background-size: 330%;
	background-position: center;
	background-position-y: -140px;
}

.backgroundImageLevel2 {
	height: 480px;
	width: 800px;
	background-image: url(./assets/images/Tokyo\ Stadium.png);
	background-size: 330%;
	background-position: center;
	background-position-y: -140px;
}

.backgroundImageLevel3 {
	height: 480px;
	width: 800px;
	background-image: url(./assets/images/Snowman\ Stadium.png);
	background-size: 330%;
	background-position: center;
	background-position-y: -140px;
}

.backgroundImageLevel4 {
	height: 480px;
	width: 800px;
	background-image: url(./assets/images/Rainbow\ Stadium.png);
	background-size: 330%;
	background-position: center;
	background-position-y: -140px;
}

.gameGrid {
	position: relative;
	top: -250px;
	margin-right: 244px;
	margin-left: 244px;
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 70px 70px;
	column-gap: 6px;
	row-gap: 6px;
	background-color: white;
	opacity: 30%;
}

div:hover.grid1 {
	background-color: red;
}

.grid1 {
	text-align: center;
	background-color: white;
}

.ball {
	width: 30px;
	height: 30px;
	background-color: fuchsia;
	position: relative;
	top: 200px;
	left: 390px;
}


.playerRound1 {
	background: none;
	position: relative;
	width: 45px;
	height: 100px;
	top: 340px;
	left: 330px;
	background-image: url(./assets/images/player1.png);
	background-size: 120%
}

.playerRound2 {
	background: none;
	width: 45px;
	height: 100px;
	position: relative;
	top: 340px;
	left: 330px;
	background-image: url(./assets/images/comp1.png);
	background-size: 120%;
}

.computerRound1 {
	background: none;
	width: 45px;
	height: 100px;
	position: relative;
	top: 25px;
	left: 380px;
	background-image: url(./assets/images/comp3.png);
	background-size: 102%;
	background-repeat: no-repeat;

	animation: goalkeeperPosition1;
	animation-duration: 2;
}

.computerRound2 {
	background: none;
	width: 45px;
	height: 100px;
	position: relative;
	top: 25px;
	left: 380px;
	background-image: url(./assets/images/player3.png);
	background-size: 102%;
	background-repeat: no-repeat;
}

.message {
	position: relative;
	top: 155px;
	left: 20px;
	background: none;
}

.score {
	position: relative;
	top: 160px;
	left: 20px;
	background: none;
}

.next {
	width: 115px;
	height: 100px;
	background-color:darkorange;
	position: relative;
	top: -50px;
	left: 340px;
	font-size: small;
	/* background: none; */
}

.gameButton {
	position: relative;
	top: -20px;
	left: 285px;
	color: #FFF;
	border: 2px solid rgb(216, 2, 134);
	border-radius: 0px;
	padding: 18px 36px;
	display: inline-block;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
	letter-spacing: 1px;
	cursor: pointer;
	box-shadow: inset 0 0 0 0 #D80286;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
  }

  .slide_right:hover {
	box-shadow: inset 400px 0 0 0 #D80286;
  }

  .start_button {
	position: relative;
	top: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: #FFF;
	border: 2px solid rgb(216, 2, 134);
	border-radius: 0px;
	padding: 18px 36px;

	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
	letter-spacing: 1px;
	cursor: pointer;
	box-shadow: inset 0 0 0 0 #D80286;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
  }




  @keyframes goalkeeperPosition1 {
	from {
	  transform: translateX(0);
	  transform: translateY(0);
	}
  
	to {
	  transform: translateX(-40px);
	  transform: translatey(-20px);
	}
  }